<footer class="footer container_custom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer_container d-flex flex-md-row flex-column align-items-center justify-content-md-start justify-content-center">
                        <div class="copyright order-md-1 order-1"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://google.com" target="_blank">Jagular and Muluma</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</div>

                    </div>
                </div>
            </div>
        </div>
    </footer>