@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Contact
7. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 2.145;
	font-weight: 400;
	color: #9d9d9d;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
a:hover
{
	color: #AA122B !important;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgba(255,165,75,0.85);
	color: #FFFFFF;
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	font-weight: 600;
	line-height: 1.2;
	color: #000000;
	margin-bottom: 0;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
img
{
	max-width: 100%;
}
button:active
{
	outline: none;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.super_container_inner
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.super_container_inner.active
{
	-webkit-transform: translateX(-350px);
	-moz-transform: translateX(-350px);
	-ms-transform: translateX(-350px);
	-o-transform: translateX(-350px);
	transform: translateX(-350px);
}
.super_overlay
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	background: rgba(255,255,255,0.85);
	z-index: 1001;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.super_container_inner.active .super_overlay
{
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item
{
	height: 100%;
}
.slide
{
	height: 100%;
}
.section_title
{
    padding-top: 11px;
    margin-left: 250px;
}
.section_title h1
{
	font-size: 30px;
}
.section_title h1 span
{
	color: #AA122B;
}
.section_title::after
{
	display: block;
	position: absolute;
    top: 0;
    left: 0;
	width: 34px;
	height: 2px;
	background: #AA122B;
	content: '';
}
.container_custom .container
{
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.button
{
	width: 196px;
	height: 57px;
    background: #AA122B;
	border-radius: 5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button a
{
	display: block;
	height: 100%;
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
	text-align: center;
	line-height: 57px;
}
.button:hover
{
	background: #FFFFFF;
}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background: #3a1a48;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled
{
	background: rgba(54,15,100,0.9);
}
.header.active
{
	-webkit-transform: translateX(-350px);
	-moz-transform: translateX(-350px);
	-ms-transform: translateX(-350px);
	-o-transform: translateX(-350px);
	transform: translateX(-350px);
}
.header_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.header_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.85);
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.active .header_overlay
{
	visibility: visible;
	opacity: 1;
}
.header_content
{
	width: 100%;
	height: 128px;
	padding-left: 50px;
	padding-right: 50px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .header_content
{
	height: 90px;
}
.logo a
{
	font-size: 24px;
	color: #FFFFFF;
}
.logo a span
{
	color: #AA122B;
}
.logo a span:last-child
{
	font-weight: 700;
}
.main_nav ul li:not(:last-of-type)
{
	margin-right: 59px;
}
.main_nav ul li a
{
	font-size: 16px;
	font-weight: 300;
	color: #FFFFFF;
}
.main_nav ul li.active a
{
	color: #AA122B;
}
.log_reg
{
	margin-left: 28px;
}
.log_reg ul li:not(:last-of-type)::after
{
	display: inline-block;
	content: '/';
	margin-left: 6px;
	margin-right: 6px;
	font-size: 16px;
	font-weight: 300;
	color: #FFFFFF;
}
.log_reg ul li a
{
	font-size: 16px;
	font-weight: 300;
	color: #FFFFFF;
}
.log_reg ul li:first-child a
{
	color: #AA122B;
}
.add_listing
{
	width: 142px;
	height: 40px;
	border: solid 2px #AA122B;
	border-radius: 5px;
	margin-left: 41px;
}
.add_listing a
{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 36px;
	font-size: 16px;
	color: #AA122B;
	font-weight: 300;
}
.add_listing:hover
{
	border-color: #FFFFFF;
}
.add_listing:hover a
{
	color: #FFFFFF !important;
}
.hamburger
{
	display: none;
	margin-left: 30px;
	cursor: pointer;
}
.hamburger i
{
	font-size: 20px;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover i
{
	color: #AA122B;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	right: -350px;
	background: #FFFFFF;
	width: 350px;
	height: 100vh;
	z-index: 101;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.menu.active
{
	right: 0;
}
.menu_container
{
	padding-top: 57px;
	padding-right: 30px;
	width: 100%;
	height: 100%;
}
.menu_close
{
	display: inline-block;
	text-align: right;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000000;
	cursor: pointer;
}
.menu_close:hover
{
	color: #AA122B;
}
.menu_nav
{
	margin-top: 107px;
}
.menu_nav ul li:not(:last-of-type)
{
	margin-bottom: 1px;
}
.menu_nav ul li a
{
	font-size: 24px;
	color: #000000;
}
.menu_link
{
	display: none;
	position: absolute;
	bottom: 20px;
	right: 30px;
}
.menu_link a
{
	font-size: 14px;
	font-weight: 500;
	color: #AA122B;
}

/*********************************
5. Home
*********************************/

.home
{
	height: 550px;
    overflow: hidden;
    background-image: 'https://s3.us-east-2.amazonaws.com/www.chefsonapp.co.za/media/fwchefsonapp/IMG-20190819-WA0008.jpg';
}
.home_container
{
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	z-index: 1;
}
.home_content
{
	padding-bottom: 117px;
    text-align: center;
    margin-top: 280px;
    margin-right: 300px;
}
.home_title
{
	font-size: 48px;
	font-weight: 500;
    color: #AA122B;
    margin-left: 350px;
}

/*********************************
6. Contact
*********************************/

.contact
{
	background: #FFFFFF;
	border-bottom: solid 2px #e1ecf4;
}
.contact_content
{
	padding-left: 52px;
	padding-top: 24px;
	padding-bottom: 144px;
}
.contact_form
{
	display: block;
    margin-top: 19px;
}
.contact_form > div
{
	margin-bottom: 21px;
}
.contact_input
{
	width: 100%;
	height: 56px;
	background: #e1ecf4;
	border: none;
	outline: none;
	border-radius: 5px;
	padding-left: 28px;
	font-size: 14px;
	font-weight: 500;
	color: #000000;
}
.contact_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #9d9d9d !important;
}
.contact_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #9d9d9d !important;
}
.contact_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #9d9d9d !important;
} 
.contact_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #9d9d9d !important;
}
.contact_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #9d9d9d !important;
}
.contact_textarea
{
	height: 195px;
	padding-top: 20px;
}
.contact_button
{
	width: 187px;
	height: 56px;
	background: #AA122B;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
    color: #FFFFFF;
    margin-left: 260px;
	font-size: 16px;
	font-weight: 500;
	margin-top: 13px;
}
.contact_button:hover
{
	box-shadow: 0px 23px 43px rgba(0,0,0,0.25);
}
.contact_info
{
	margin-top: 94px;
}
.contact_info_list
{
	margin-top: 77px;
}
.contact_info_list ul li:not(:last-of-type)
{
    margin-bottom: 25px;
}
.sidebar_info_icon
{
    width: 23px;
    height: 23px;
    line-height: 23px;
    text-align: center;
}
.contact_info_content
{
    padding-left: 12px;
    font-size: 14px;
    font-weight: 400;
    color: #9d9d9d;
}
.contact_map_container
{
	height: 100%;
}
.map
{
	width: 100%;
	height: 100%;
}
.google_map
{
	width: 100%;
	height: 100%;
}
.map_container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#map
{
	width: 100%;
	height: calc(100% + 30px);
}

/*********************************
7. Footer
*********************************/

.footer
{
	background: #FFFFFF;
}
.footer_container
{
	height: 79px;
	padding-left: 52px;
	padding-right: 49px;
}
.copyright
{
	font-size: 12px;
	font-weight: 400;
	color: #b0b0b0;
}
.footer_nav ul li:not(:last-of-type)
{
	margin-right: 51px;
}
.footer_nav ul li a
{
	font-size: 14px;
	font-weight: 400;
	color: #b0b0b0;
}
.footer_nav ul li a:hover,
.footer_nav ul li.active a
{
	color: #AA122B;
}

.btn-secondary{
    background: #e1ecf4;
    border: none;

    height: 50px;
    color: rgb(148, 149, 150);

}

.dropdown-item{
    width: 350px;
    text-align: center;
}

.avatar-wrapper {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 50px auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all 0.3s ease;
}
.avatar-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.avatar-wrapper:hover .profile-pic {
    opacity: 0.5;
}
.avatar-wrapper .profile-pic {
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
}
.avatar-wrapper .profile-pic:after {
    font-family: FontAwesome;
    content: "\f007";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 190px;
    background: #ecf0f1;
    color: #34495e;
    text-align: center;
}
.avatar-wrapper .upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.avatar-wrapper .upload-button .fa-arrow-circle-up {
    position: absolute;
    font-size: 234px;
    top: -17px;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;
    color: #34495e;
}
.avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
    opacity: 0.9;
}



.avatar-upload {
	position: relative;
	max-width: 205px;
	margin: 50px auto;
  }
  .avatar-upload .avatar-edit {
	position: absolute;
	right: 12px;
	z-index: 1;
	top: 10px;
  }
  .avatar-upload .avatar-edit input {
	display: none;
  }
  .avatar-upload .avatar-edit input + label {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin-bottom: 0;
	border-radius: 100%;
	background: #fff;
	border: 1px solid transparent;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	font-weight: normal;
	transition: all 0.2s ease-in-out;
  }
  .avatar-upload .avatar-edit input + label:hover {
	background: #f1f1f1;
	border-color: #d6d6d6;
  }
  .avatar-upload .avatar-edit input + label:after {
	content: "\f040";
	font-family: 'FontAwesome';
	color: #757575;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	text-align: center;
	margin: auto;
  }
  

	.avatar-preview {
		width: 192px;
		height: 192px;
		position: relative;
		border-radius: 100%;
		border: 6px solid #d6d6d6;
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
	  }
	  .avatar-preview > div {
		width: 100%;
		height: 100%;
		border-radius: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	  }

	  .section_title::after{
		left: 25%
	}



	.dropdown_input
{
	width: 350px;
	height: 56px;
	background: #e1ecf4;
	border: none;
	outline: none;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 500;
	color: #000000;
}
.dropdown_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #9d9d9d !important;
}
.dropdown_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #9d9d9d !important;
}
.dropdown_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #9d9d9d !important;
} 
.dropdown_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #9d9d9d !important;
}
.dropdown_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #9d9d9d !important;
}


@keyframes spinner-grow {
	0% {
	  opacity: 0;
	  transform: scale(0);
	 }
	50% {
	  opacity: 1;
	 }
	100% {
	  opacity: 0;
	  transform: scale(1);
	 }
  }
  .spinner-grow {
	position: relative;
	display: inline-block;
	width: 2rem;
	height: 2rem;
	overflow: hidden;
	text-indent: -999em;
	vertical-align: text-bottom;
	background-color: currentColor;
	border-radius: 50%;
	animation-name: spinner-grow;
	animation-duration: 0.75s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
  }
  .spinner-grow-sm {
	width: 1rem;
	height: 1rem;
  }

  label{
	color: #000000;
  }


  @media screen and (min-width: 900px) and (max-width: 1440px) {
	.section_title
	  {
		padding-top: 11px;
		margin-left: 260px;
	   }
	
	   .contact_button {
		width: 187px;
		height: 56px;
		background: #AA122B;
		border: none;
		outline: none;
		border-radius: 5px;
		cursor: pointer;
		color: #FFFFFF;
		margin-left: 300px;
		font-size: 16px;
		font-weight: 500;
		margin-top: 13px;
	}
	
	.contact_form{
		display: block;
		margin-top: 19px;
		margin-left: -145px;
	}
	
	}
	
	@media screen and (min-width: 800px) and (max-width: 1280px) {
	.section_title
	 {
		padding-top: 11px;
		margin-left: 230px;
	 }
	
	.section_title[_ngcontent-jiw-c1]::after {
		left: 23%;
	}
	
	.contact_button[_ngcontent-nqm-c1] {
		width: 187px;
		height: 56px;
		background: #AA122B;
		border: none;
		outline: none;
		border-radius: 5px;
		cursor: pointer;
		color: #FFFFFF;
		margin-left: 290px;
		font-size: 16px;
		font-weight: 500;
		margin-top: 13px;
	}
	
	.contact_form{
		display: block;
		margin-top: 19px;
		margin-left: -145px;
	}
	
	}
	