<app-nav></app-nav>

<div class="super_container">
    <div class="super_container_inner">
        <div class="super_overlay"></div>

        <!-- Home -->

        <div class="home">
            <!-- Home Slider -->
            <div class="home_slider_container">
                <div class="background_image"
                    style="background-image:url(https://jagular-media.s3.us-east-2.amazonaws.com/chefsonapp/WhatsApp+Image+2019-09-13+at+10.15.31.jpeg)">

                    <div class="row">
                        <div class="home_content">
                            <div class="home_title">Invite Chef</div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>


        <div class="contact container_custom">
            <div class="container">
                <div class="row">

                    <!-- Contact Content -->
                    <div class="col-xl-6" style="margin-left: 400px">
                        <div class="contact_content">
                            <div class="contact_form_container">
                                <form [formGroup]="addChefForm" method="POST" action="#" class="contact_form"
                                    id="contact_form">
                                    <div class="section_title">
                                        <h1>Chef Details</h1>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 contact_form_col" style="padding-right: 20px">
                                            <input formControlName="firstName" type="text" class="contact_input"
                                                placeholder="First Name" required="required">
                                        </div>
                                        <div class="col-lg-6">
                                            <input formControlName="lastName" type="text" class="contact_input"
                                                placeholder="Last Name" required="required">
                                        </div>
                                    </div>
                                    <div class="row">
                                          <input formControlName="email" type="email" class="contact_input"
                                                placeholder="Email" required="required">
                                    </div>

                                    <button class="contact_button trans_200" (click)="createChef()">
                                        <span *ngIf="isBusy" class="spinner-grow text-white">!</span>
                                        Invite</button>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>

</div>

<app-footer></app-footer>