
<div class="row" style="margin-top: 60px;"></div>
<div class="wrapper wrapper--w960" style="margin-top: 40px;">
    <div class="card card-5 myCard">
        <div class="card-heading">
            <img class="myImage" src="./assets/images/Sindi Chef logo - Transparent background.png" height="100" >
            <h2 class="title">Registration</h2>
        </div>
        <div class="card-body">
            <form [formGroup]="confirmAccountForm" (ngSubmit)="onSubmit" method="POST">
                <div class="form-row m-b-55">
                        <div class="name">Password</div>
                        <div class="value">
                            <div class="row row-refine">
                                <div class="col-12">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="password" minlength="6" formControlName="password">
                                        <label class="label--desc">Password</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row m-b-55">
                        <div class="name">Re-enter</div>
                        <div class="value">
                            <div class="row row-refine">
                                <div class="col-12">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="password" minlength="6" formControlName="confirmPassword">
                                        <label class="label--desc">Password confirm</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>      
                        
                    <button class="contact_button trans_200" type="submit" (click)="onSubmit()">
                            <span *ngIf="isBusy" class="spinner-grow text-white">!</span>
                        Confirm
                    </button> 


            </form>
        </div>
    </div>
</div>



