<app-nav></app-nav>

<div class="super_container">
	<div class="super_container_inner">
		<div class="super_overlay"></div>

        <!-- Home -->
        
        <div class="home">			
                <!-- Home Slider -->
                <div class="home_slider_container">
                    <div class="background_image" style="background-image:url(https://jagular-media.s3.us-east-2.amazonaws.com/chefsonapp/WhatsApp+Image+2019-09-13+at+10.15.31.jpeg)">
                    
                        <div class="home_content">
                            <div class="home_title">Create Chef</div>
                          </div>
                  
                    </div>  
                </div>
            </div>


		<div class="contact container_custom">
                <div class="container">
                    <div class="row">
    
                        <!-- Contact Content -->
                        <div class="col-xl-6" style="margin-left: 400px">
                            <div class="contact_content">
                                <div class="contact_form_container">
                                    
                                        <div class="section_title"><h1>Profession Details</h1></div><br><br>
                                        
                                        <div class="row">    
                                                <div class="col-lg-3 contact_form_col" style="padding-right: 20px">
                                                    <div class="sub_heading">Operational Region </div>
                                                </div>
                                                <div class="col-lg-9" >
                                                        <ng-multiselect-dropdown-angular7
                                                        [placeholder]="selectedAreas"
                                                        [data]="areaList"
                                                        [(ngModel)]="selectedAreas"
                                                         [ngModelOptions]="{standalone: true}"
                                                        [settings]="dropdownSettings"
                                                        (onSelect)="onAreaSelect($event)"
                                                        (onSelectAll)="onSelectAllAreas($event)"
                                                        (onDeSelect)="OnAreasDeSelect($event)" 
                                                        (onDeSelectAll)="onDeSelectAllAreas($event)"
                                                      >
                                                      </ng-multiselect-dropdown-angular7>
                                                </div>                                                                                    

                                        </div> <br>    
                                        
                                                      
                                        <div class="row">    
                                                <div class="col-lg-3 contact_form_col" style="padding-right: 20px">
                                                    <div class="sub_heading">Areas of Expertise </div>
                                                </div>
                                                <div class="col-lg-9" >
                                                        <ng-multiselect-dropdown-angular7
                                                        [placeholder]="selectedSpecialties"
                                                        [data]="specialtyList"
                                                        [(ngModel)]="selectedSpecialties"
                                                        [ngModelOptions]="{standalone: true}"
                                                        [settings]="dropdownSettings"
                                                        (onSelect)="onSpecialtySelect($event)"
                                                        (onSelectAll)="onSelectAllSpecialties($event)"
                                                        (onDeSelect)="OnSpecialtyDeSelect($event)" 
                                                        (onDeSelectAll)="onDeSelectAllSpecialties($event)"
                                                      >
                                                      </ng-multiselect-dropdown-angular7>
                                                </div>                                                                                    

                                        </div> <br>  

                                        <div class="row">    
                                                <div class="col-lg-3 contact_form_col" style="padding-right: 20px">
                                                    <div class="sub_heading">Types of Cuisines </div>
                                                </div>
                                                <div class="col-lg-9" >
                                                        <ng-multiselect-dropdown-angular7
                                                        [placeholder]="selectedCuisines"
                                                        [data]="cuisineList"
                                                        [(ngModel)]="selectedCuisines"
                                                        [ngModelOptions]="{standalone: true}"
                                                        [settings]="dropdownSettings"
                                                        (onSelect)="onCuisineSelect($event)"
                                                        (onSelectAll)="onSelectAllCuisines($event)"
                                                        (onDeSelect)="OnCuisineDeSelect($event)" 
                                                        (onDeSelectAll)="onDeSelectAllCuisines($event)"
                                                      >
                                                      </ng-multiselect-dropdown-angular7>
                                                </div>                                                                                    

                                        </div> <br>  


                                    
                                  
                                        
                                        <button class="contact_button trans_200" (click)="updateProfession()">
                                                <span *ngIf="isBusy" class="spinner-grow text-white">!</span>
                                                Update</button>
                                  
    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


	</div>
		
</div>

<app-footer></app-footer>

