<app-chef-nav></app-chef-nav>

<div class="super_container">
  <div class="super_container_inner">
    <div class="super_overlay"></div>

    <!-- Home -->

    <div class="home">
      <!-- Home Slider -->
      <div class="home_slider_container">
        <div
          class="background_image"
          style="background-image:url(https://jagular-media.s3.us-east-2.amazonaws.com/chefsonapp/IMG-20190819-WA0013.jpg)"
        >
          <div class="home_content">
            <div class="home_title">Update Banking</div>
          </div>
        </div>
      </div>
    </div>

    <div class="contact container_custom">
      <div class="container">
        <div class="row">
          <!-- Contact Content -->
          <div class="col-xl-6" style="margin-left: 400px">
            <div class="contact_content">
              <div class="contact_form_container">
                <form
                  [formGroup]="updateBankingForm"
                  method="POST"
                  action="#"
                  class="contact_form"
                  id="contact_form"
                >
                  <div class="section_title"><h1>Banking Details</h1></div>
                  <div class="row">
                    <div
                      class="col-lg-6 contact_form_col"
                      style="padding-right: 20px"
                    >
                    <label> Bank Name </label>
                      <input
                        formControlName="bankName"
                        [(ngModel)]="bankName"
                        type="text"
                        class="contact_input"
                        placeholder="Bank Name"
                        required="required"
                      />
                    </div>
                    <div class="col-lg-6">
                      <label> Account Number </label>
                      <input
                        formControlName="accNumber"
                        [(ngModel)]="accountNumber"
                        type="text"
                        class="contact_input"
                        placeholder="Account Number"
                        required="required"
                      />
                    </div>
                  </div>

                  <div
                  *ngIf="loading"
                  class="spinner-grow"
                  style="width: 10rem; height: 10rem; color: #AA122B;  margin-left: 250px"
                  role="status"
                >
                  <span class="sr-only">Loading...</span>
                </div>

                  <div class="row">
                    <div
                      class="col-lg-6 contact_form_col"
                      style="padding-right: 20px"
                    >
                    <label> Account Type </label>
                      <input
                        formControlName="accType"
                        [(ngModel)]="accountType"
                        type="text"
                        class="contact_input"
                        placeholder="Account Type"
                        required="required"
                      />
                    </div>
                    <div class="col-lg-6">
                        <label> Branch Code </label>
                      <input
                        formControlName="branchCode"
                        [(ngModel)]="branchCode"
                        type="text"
                        class="contact_input"
                        placeholder="Branch Code"
                        required="required"
                      />
                    </div>
                  </div>
                  <button
                    class="contact_button trans_200"
                    (click)="updateBanking()"
                  >
                    <span *ngIf="isBusy" class="spinner-grow text-white"
                      >!</span
                    >
                    Update
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
