<app-chef-nav></app-chef-nav>
<div class="super_container">
  <div class="super_container_inner">
    <div class="super_overlay"></div>

    <div class="home">
      <!-- Home Slider -->
      <div class="home_slider_container">
        <div
          class="background_image"
          style="background-image:url(https://jagular-media.s3.us-east-2.amazonaws.com/chefsonapp/IMG-20190819-WA0015.jpg)"
        >
          <div class="home_content">
            <div class="home_title">Manage Dishes</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact -->

    <div class="contact container_custom">
      <div class="container">
        <div class="row">
          <!-- Contact Content -->
          <div class="col-xl-6 col-xs-6 col-md-6" style="margin-left: 400px">
            <div class="contact_content">
              <div class="contact_form_container">
                <div class="section_title"><h1>Create Dish</h1></div><br>
                <form
                  [formGroup]="createDishForm"
                  method="POST"
                  onsubmit="this.createDish(); this.reset();"
                >
                  <div class="row" style="margin-top: -50px">
                    <div class="avatar-upload">
                      <div class="avatar-edit">
                        <input
                          type="file"
                          id="imageUpload"
                          accept="image/*"
                          (change)="onFileChanged($event)"
                        />
                        <label for="imageUpload"></label>
                      </div>
                      <div class="avatar-preview">
                        <div
                          id="imagePreview"
                          [style.background-image]="getBackground(image)"
                        ></div>
                      </div>
                    </div>
                    <input
                      style="display: none"
                      type="file"
                      accept="image/*"
                      (change)="onFileChanged($event)"
                      #fileInput
                    />
                  </div>
                  <br />
                  <div class="row" style="margin-top: -50px; ">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                      <button
                        class="btn btn-secondary dropdown-toggle  contact_input"
                        type="button"
                        id="dropdownMenuButton"
                        ngDefaultControl
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        {{ selectedItem }}
                      </button>
                      <div
                        class="dropdown-menu dropdown_input"
                        aria-labelledby="dropdownMenuButton"
                      >
                        <a
                          (click)="changeCategory('Vegeterian')"
                          class="dropdown-item dropdown_input"
                          >Vegeterian</a
                        >
                        <a
                          (click)="changeCategory('Breakfast')"
                          class="dropdown-item dropdown_input"
                          >Breakfast</a
                        >
                        <a
                          (click)="changeCategory('Brunch')"
                          class="dropdown-item dropdown_input"
                          >Brunch</a
                        >
                        <a
                          (click)="changeCategory('Desert')"
                          class="dropdown-item dropdown_input"
                          >Desert</a
                        >
                      </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                      <input
                        formControlName="dishName"
                        type="text"
                        class="contact_input"
                        placeholder="Dish Name"
                        required="required"
                      />
                    </div>
                  </div>
                  <br />

                  <div class="row">
                    <textarea
                      formControlName="dishDescription"
                      rows="4"
                      placeholder="Dish Description"
                      class="contact_input"
                      style="padding-top: 17px"
                    >
                    </textarea>
                  </div>
                  <br />

                  <div class="row">
                    <button class="add_button trans_200" (click)="createDish()">
                      <span *ngIf="isBusy" class="spinner-grow text-white"
                        >!</span
                      >
                      Add Dish
                    </button>
                  </div>
                  <br />
                  <div>
                    <div
                      *ngIf="loading"
                      class="spinner-grow"
                      style="width: 10rem; height: 10rem; color: #AA122B;  margin-left: 300px"
                      role="status"
                    >
                      <span class="sr-only">Loading...</span>
                    </div>
                    <table
                      class="table"
                    >
                      <thead>
                        <tr>
                          <th scope="col">Dish Name</th>
                          <th scope="col">Category</th>
                          <th scope="col">Description</th>
                          <th scope="col">Status</th>
                          <th scope="col">Image</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let dish of allDishes">
                          <th scope="row">{{ dish.itemName }}</th>
                          <td>{{ dish.itemType }}</td>
                          <td>{{ dish.description }}</td>
                          <td>{{ dish.status }}</td>
                          <td>
                            <img
                              style="height: 60px; width: 100px"
                              src="{{ dish.picture }}"
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
