<app-chef-nav></app-chef-nav>

<div class="super_container">
  <div class="super_container_inner">
    <div class="super_overlay"></div>

    <!-- Home -->

    <div class="home">
      <!-- Home Slider -->
      <div class="home_slider_container">
        <div class="background_image"
          style="background-image:url(https://jagular-media.s3.us-east-2.amazonaws.com/chefsonapp/IMG-20190819-WA0010.jpg)">
        </div>
      </div>
    </div>

    <!-- Categories -->

    <div class="categories">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="categories_container d-flex flex-md-row flex-column align-items-start justify-content-start">
              <!-- Category -->
              <div class="category text-center">
                <a routerLink="/manage-dishes">
                  <div
                    class="d-flex flex-md-column flex-row align-items-md-center align-items-md-start align-items-center justify-content-start">
                    <div class="cat_icon">
                      <img src="./assets/images/icon_1.svg" class="svg" alt="https://www.flaticon.com/authors/monkik" />
                    </div>
                    <div class="cat_title">Manage Dishes</div>
                  </div>
                </a>
              </div>

              <!-- Category -->
              <div class="category text-center">
                <a routerLink="/view-profile">
                  <div
                    class="d-flex flex-md-column flex-row align-items-md-center align-items-md-start align-items-center justify-content-start">
                    <div class="cat_icon">
                      <img src="./assets/images/icon_3.svg" class="svg" alt="https://www.flaticon.com/authors/monkik" />
                    </div>
                    <div class="cat_title">Manage Profile</div>
                  </div>
                </a>
              </div>

              <!-- Category -->
              <div class="category text-center">
                <a routerLink="/chef-availability">
                  <div
                    class="d-flex flex-md-column flex-row align-items-md-center align-items-md-start align-items-center justify-content-start">
                    <div class="cat_icon">
                      <img src="./assets/images/icon_4.svg" class="svg" alt="https://www.flaticon.com/authors/monkik" />
                    </div>
                    <div class="cat_title">Manage Availability</div>
                  </div>
                </a>
              </div>

              <!-- Category -->
              <div class="category text-center">
                <a routerLink="listings.html">
                  <div
                    class="d-flex flex-md-column flex-row align-items-md-center align-items-md-start align-items-center justify-content-start">
                    <div class="cat_icon">
                      <img src="./assets/images/icon_5.svg" class="svg" alt="https://www.flaticon.com/authors/monkik" />
                    </div>
                    <div class="cat_title">Reporting</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="locations container_custom">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section_title text-center">
              <h1>You are on Chefs user console</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>