<app-nav></app-nav>

<div class="super_container">
  <div class="super_container_inner">
    <div class="super_overlay"></div>

    <!-- Home -->

    <div class="home">
      <!-- Home Slider -->
      <div class="home_slider_container">
        <div class="background_image"
          style="background-image:url(https://jagular-media.s3.us-east-2.amazonaws.com/chefsonapp/IMG-20190819-WA0009.jpg)">
          <div class="home_content">
            <div class="home_title">Update Address</div>
          </div>
        </div>
      </div>
    </div>

    <div class="contact container_custom">
      <div class="container">
        <div class="row">
          <!-- Contact Content -->
          <div class="col-xl-6" style="margin-left: 400px">
            <div class="contact_content">
              <div class="contact_form_container">
                <form [formGroup]="addressUpdateForm" method="POST" action="#" class="contact_form" id="contact_form">
                  <div class="section_title">
                    <h1>Residential Address</h1>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 contact_form_col" style="padding-right: 20px">
                     <label> Address Line 1</label>
                      <input formControlName="line1" [(ngModel)]="line1" type="text" class="contact_input"
                        placeholder="Line 1" required="required" />
                    </div>
                    <div class="col-lg-6">
                      <label> Email </label>
                      <input formControlName="line2" [(ngModel)]="line2" type="email" class="contact_input"
                        placeholder="Line 2" required="required" />
                    </div>
                  </div>
                  <div
                  *ngIf="loading"
                  class="spinner-grow"
                  style="width: 10rem; height: 10rem; color: #AA122B;  margin-left: 250px"
                  role="status"
                >
                  <span class="sr-only">Loading...</span>
                </div>

                  <div class="row">
                    <div class="col-lg-6 contact_form_col" style="padding-right: 20px">
                      <label> City</label>
                      <input formControlName="city" [(ngModel)]="city" type="text" class="contact_input"
                        placeholder="City" required="required" />
                    </div>
                    <div class="col-lg-6">
                        <label> Province</label>
                      <input formControlName="province" [(ngModel)]="province" type="text" class="contact_input"
                        placeholder="Province" required="required" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 contact_form_col" style="padding-right: 20px">
                        <label> Postal Code</label>
                      <input formControlName="postalCode" [(ngModel)]="postalCode" type="text" class="contact_input"
                        placeholder="Postal Code" required="required" />
                    </div>
                  </div>
                  <br />

                  <button class="contact_button trans_200" (click)="updateAddress()">
                    <span *ngIf="isBusy" class="spinner-grow text-white">!</span>
                    Update
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>