<app-chef-nav></app-chef-nav>

<div class="super_container">
  <div class="super_container_inner">
    <div class="super_overlay"></div>

    <!-- Home -->

    <div class="home">
      <!-- Home Slider -->
      <div class="home_slider_container">
        <div class="background_image"
          style="background-image:url(https://jagular-media.s3.us-east-2.amazonaws.com/chefsonapp/IMG-20190819-WA0009.jpg)">
          <div class="home_content">
            <div class="home_title">Manage Availability</div>
          </div>
        </div>
      </div>
    </div>

    <div class="contact container_custom">
      <div class="container">
        <div class="row">
          <!-- Contact Content -->
          <div class="col-xl-6" style="margin-left: 350px">
            <div class="contact_content">
              <div class="contact_form_container">
                <form [formGroup]="availabilityUpdateForm" method="POST" action="#" class="contact_form" id="contact_form">
                  <div class="section_title">
                    <h1>Manage Availability</h1>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 contact_form_col" style="padding-right: 20px">
                      <label class="label1"> Please select unavailable date</label>
                    </div>
                    <div class="col-lg-6">
                            <input placeholder="Please select unavailable date"  class="contact_input" type="date" formControlName="availabilityDate">
                    </div>
                  </div><br>
                  <!--input placeholder="Select Unavailable Date" class="textbox-n contact_input" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date"-->
                  <div class="row">
                        <textarea
                          formControlName="comment"
                          rows="4"
                          placeholder="Comment"
                          class="contact_input"
                          style="padding-top: 17px"
                        >
                        </textarea>
                      </div>

<div class="row">
    <button class="contact_button trans_200" (click)="setAvailability()">
        <span *ngIf="isBusy" class="spinner-grow text-white">!</span>
        Update
      </button>
</div>

                        <br>
                  <div class="row">
                        <table
                        class="table"
                        style="font-family: 'Poppins', sans-serif;"
                      >
                        <thead>
                          <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Comment</th>
                            <th scope="col">Action</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let dish of availabilityDates">
                            <th scope="row">{{ dish.date }}</th>
                            <td>{{ dish.comment }}</td>
                         
                            <td><i class="fa fa-trash" aria-hidden="true"
                                (click)="deleteAvailability(dish.id)"></i></td>
                         <td></td>
                              </tr>
                             
                        </tbody>
                      </table>
                  </div>
                  <br />


                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>