/* You can add global styles to this file, and also import other style files */
.multiselect-dropdown .dropdown-btn {
    display: inline-block;
    border: none !important;
  
    height: 55px !important;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background: #e1ecf4 !important;
    border-radius: 4px;
    padding: 16px 12px !important;
}

.ui-select-match-text{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 40px;
  }
  .ui-select-toggle > .btn.btn-link {
    margin-right: 10px;
    top: 6px;
    position: absolute;
    right: 10px;
  }

  .btn-primary
{
	width: 187px;
	height: 56px;
	background: #AA122B;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 500;

}

.btn-primary:hover
{
	box-shadow: #C53B31;
}

.ngx-dropzone-preview{
  max-width: 800px !important;
}