/*********************************
3. Header
*********************************/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.scrolled {
  background: #363e41 !important;
}
.header_content {
  width: 100%;
  height: 128px;
  padding-left: 50px;
  padding-right: 50px;
}
