<app-chef-nav></app-chef-nav>

<div class="super_container">
        <div class="super_container_inner">
            <div class="super_overlay"></div>
    
            <!-- Home -->
    
            <div class="home">
                <!-- Home Slider -->
                <div class="home_slider_container">
                    <div class="background_image"
                        style="background-image:url(https://jagular-media.s3.us-east-2.amazonaws.com/chefsonapp/IMG-20190819-WA0009.jpg)">
                        <div class="home_content">
                            <div class="home_title">View Profile    </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- How it works -->
    
            <div class="how container_custom">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="section_title text-center">
                                <h1>Chef Details</h1>
                            </div>
                            <br />
                            <!-- Icon Box -->
                            <div class="icon_box1">
    
                                <div
                                    class="icon_box_text align-items-center justify-content-start text-center d-flex flex-column">
                                    <div class="icon_box_title" style="margin-top: -24px;">Personal Details</div>
                                    <br /><br>
                                    <div class="row" style="width: 110%;">
                                        <div class="col-lg-6">
                                                <div class="avatar-upload">                      
                                                        <div class="avatar-preview">
                                                          <div id="imagePreview" [style.background-image]="getBackground(chefDetails?.chefDetails.avatar)">
                                                          </div>
                                                        </div>
                                                      </div>
                                        </div>
    
                                        <div class="col-lg-6" style="text-align: left; margin-left: -80px;">
                                            <p><Strong> Name: </Strong> {{ chefDetails?.chefDetails?.name }} </p>
                                            <p><Strong> Surname: </Strong> {{ chefDetails?.chefDetails?.surname }} </p>
                                            <p><Strong> Email: </Strong> {{ chefDetails?.chefDetails?.email }} </p>
                                            <p><Strong> ID Number: </Strong> {{ chefDetails?.chefDetails?.idNumber }} </p>
                                            <p><Strong> SACA Number: </Strong> {{ chefDetails?.chefDetails?.sacaNumber }}
                                            </p>
                                            <p><Strong> Shirt size: </Strong> {{ chefDetails?.chefDetails?.pantsSize }} </p>
                                            <p><Strong> Pants size: </Strong> {{ chefDetails?.chefDetails?.pantsSize }} </p>
                                            <p><Strong> Bio: </Strong> {{ chefDetails?.chefDetails?.aboutChef }} </p>
                                            <br><br>
                                          
     
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <button class="contact_button1 trans_200" (click)="updatePersonal()">
                                                        Update
                                                    </button>
                                                </div>
                                            </div>
                                          </div>                                      
                                    </div>
                                    <br><br>
                                    
                                    
                                   
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- Icon Box -->
                                    <div class="icon_box1">
                                        <div class="row" style="margin-top: -63px; margin-left: -42px; margin-right: -3px;">
                                            <img class="myImage"
                                                src="./assets/images/home.jpg" />
                                        </div>
                                        <br />
    
                                        <div
                                            class="icon_box_text align-items-center justify-content-start text-center d-flex flex-column">
                                            <div class="icon_box_title">Address Details</div>
                                            <br />
                                            <p><Strong> Line1: </Strong> {{ chefDetails?.chefDetails?.addressLine1 }} </p>
                                            <p><Strong> Line2: </Strong> {{ chefDetails?.chefDetails?.addressLine2 }} </p>
                                            <p><Strong> City: </Strong> {{ chefDetails?.chefDetails?.city }} </p>
                                            <p><Strong> Province: </Strong> {{ chefDetails?.chefDetails?.province }}, {{ chefDetails?.chefDetails?.postalCode }}  </p>
                                            <br><br>
                                            <div style="margin-top: -20px; margin-left: 20px;">
                                                <button class="contact_button1 trans_200" (click)="updateAddress()">
                                                    Update
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <!-- Icon Box -->
                                    <div class="icon_box1">
                                        <div class="row" style="margin-top: -63px; margin-left: -42px; margin-right: -3px;">
                                            <img class="myImage"
                                                src="./assets/images/bank.jpg" />
                                        </div>
                                        <br />
    
                                        <div
                                            class="icon_box_text align-items-center justify-content-start text-center d-flex flex-column">
                                            <div class="icon_box_title">Banking Details</div>
                                            <br />
                                            <p><Strong> Bank Name: </Strong> {{ chefDetails?.chefDetails?.bankName }} </p>
                                            <p><Strong> Account Number: </Strong> {{ chefDetails?.chefDetails?.accountNumber }} </p>
                                            <p><Strong> Account Type: </Strong> {{ chefDetails?.chefDetails?.accountType }} </p>
                                            <p><Strong> Branch Code: </Strong> {{ chefDetails?.chefDetails?.branchCode }} </p>
                                            <br><br>
                                            <div style="margin-top: -20px; margin-left: 20px;">
                                                <button class="contact_button1 trans_200" (click)="updateBanking()">
                                                    Update
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
    
    
    
                            <div class="row">
                                    <div class="col-lg-6">
                                        <!-- Icon Box -->
                                        <div class="icon_box1">
                                            <div class="row" style="margin-top: -63px; margin-left: -42px; margin-right: -3px;">
                                                <img class="myImage"
                                                    src="./assets/images/pro.jpg" />
                                            </div>
                                            <br />
        
                                            <div
                                                class="icon_box_text align-items-center justify-content-start text-center d-flex flex-column">
                                                <div class="icon_box_title">Profession Details</div>
                                                <br />
                                                        
                                                        <p>
                                                            <strong>Areas of Expertise: </strong>
                                                            <span *ngFor="let specialty of chefDetails?.areaOfExpertise">{{ specialty }} 
                                                            </span>
                                                        </p>
                                                        <p>
                                                            <strong>Cuisines: </strong>
                                                            <span *ngFor="let cuisine of chefDetails?.cuisineType">{{ cuisine }} 
                                                            </span>
                                                        </p>
                                                        <p>
                                                            <strong>Operational Region: </strong>
                                                            <span *ngFor="let area of chefDetails?.operationalRegion">{{ area }} 
                                                            </span>
                                                        </p>
                                                    
                                                <br><br>
                                                <div >
                                                    <button class="contact_button1 trans_200" (click)="updateProfession()">
                                                        Update
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <div class="col-lg-6">
                                        <!-- Icon Box -->
                                        <div class="icon_box1">
                                            <div class="row" style="margin-top: -63px; margin-left: -42px; margin-right: -3px;">
                                                <img class="myImage"
                                                    src="./assets/images/docs.jpg" />
                                            </div><br>
        
                                            <div
                                                class="icon_box_text align-items-center justify-content-start text-center d-flex flex-column">
                                                <div class="icon_box_title">Documents</div>
                                              <br><br>
                                          
                                                <div class="row">
                                                  <div class="col-sm-6">
                                                        <button class="contact_button2 trans_200" [disabled]="!idAvailable" (click)="downloadPDF('idDocument')">Download ID Document</button>
                                                  </div>
                                                  <div class="col-sm-6">
                                                      <button class="contact_button2 trans_200" [disabled]="!qualAvailable"  (click)="downloadPDF('qualification')">Download Qualification</button>
                                                  </div>
                                                </div> <br> 
                                  
                                                <div class="row">
                                                  <div class="col-sm-6">
                                                      <button class="contact_button2 trans_200" [disabled]="!pcAvailable" (click)="downloadPDF('police')">Download Police Clearance</button>
                                                  </div>
                                                  <div class="col-sm-6">
                                                      <button class="contact_button2 trans_200" [disabled]="!refAvailable" (click)="downloadPDF('referral')">Download Referral</button>
                                                  </div>                                               
                                                </div> <br>
                                                <button class="contact_button1 trans_200" (click)="updateDocs()">
                                                    Update
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                    </div>
                </div>
            </div>

     
        </div>
    </div>
</div>


<app-footer></app-footer>