<app-nav></app-nav>>
<div class="super_container">
  <div class="super_container_inner">
    <div class="super_overlay"></div>

    <div class="home">
      <!-- Home Slider -->
      <div class="home_slider_container">
        <div
          class="background_image"
          style="background-image:url(https://jagular-media.s3.us-east-2.amazonaws.com/chefsonapp/IMG-20190820-WA0013.jpg)"
        >
          <div class="home_content">
            <div class="home_title">Approve Dishes</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact -->

    <div class="contact container_custom">
      <div class="container">
        <div class="row">
          <div class="contact_content">
            <div class="section_title"><h1>Approve Dishes</h1></div>
            <br /><br />

            <div>
              <div
                *ngIf="loading"
                class="spinner-grow"
                style="width: 10rem; height: 10rem; color: #AA122B;  margin-left: 400px"
                role="status"
              >
                <span class="sr-only">Loading...</span>
              </div>
              <table class="table" style="font-family: 'Poppins', sans-serif;">
                <thead>
                  <tr>
                    <th scope="col">Chef Name</th>
                    <th scope="col">Dish Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dish of allDishes">
                    <th scope="row">{{ dish.chefName }}</th>
                    <td>{{ dish.itemName }}</td>
                    <td>{{ dish.itemType }}</td>
                    <td>{{ dish.description }}</td>
                    <td>{{ dish.status }}</td>
                    <td>
                      <button
                        style="margin-left: 100px; margin-top: -1px"
                        (click)="dishInfo(dish)"
                        type="button"
                        class="add_button"
                        data-toggle="modal"
                        data-target="#myModal"
                      >
                        Action
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

<div
  *ngIf="modalActive"
  class="modal"
  id="myModal"
  style="margin-top: -800px; margin-left: 500px;"
>
  <div class="modal-dialog">
    <div class="modal-content" style="height: 550px; width: 700px;">
      <!-- Modal Header -->
      <div class="modal-header" style="height: 50px">
        <h4
          class="modal-title"
          style="margin-left: 300px; margin-top: 25px; 
           font-family: 'Poppins', sans-serif; font-size: 20px"
        >
          {{ dishName }}
        </h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="padding-top: 20px">
        <img
          style="    margin-left: 50px; width: 600px; height: 300px"
          src="{{ dishImage }}"
        />

        <div
          class="row"
          style="margin-left: 75px; margin-top: 20px;padding-bottom: 30px;"
        >
          <div class="col-sm-4">
            <input
              (change)="changeStatus('Approved')"
              type="radio"
              id="customRadio1"
              name="customRadio"
              class="custom-control-input"
            />
            <label class="custom-control-label" for="customRadio1"
              >Approve</label
            >
          </div>
          <div class="col-sm-4">
            <input
              (change)="changeStatus('Rejected')"
              type="radio"
              id="customRadio2"
              name="customRadio"
              class="custom-control-input"
            />
            <label class="custom-control-label" for="customRadio2"
              >Reject</label
            >
          </div>
        </div>

        <!-- Modal footer -->

        <div class="row">
          <button
            [disabled]="!buttonActive"
            (click)="actionDish()"
            data-toggle="modal"
            id="rejectDish"
            class="contact_button"
          >
            <span *ngIf="!rejectNotBusy" class="spinner-grow text-white"></span>
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
