<app-nav></app-nav>
<div class="super_container">
  <div class="super_container_inner">
    <div class="super_overlay"></div>

    <div class="home">
      <!-- Home Slider -->
      <div class="home_slider_container">
        <div
          class="background_image"
          style="background-image:url(https://jagular-media.s3.us-east-2.amazonaws.com/chefsonapp/IMG-20190820-WA0009.jpg)"
        >
          <div class="home_content">
            <div class="home_title">Manage Chefs</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact -->

    <div class="contact container_custom">
      <div class="container">
        <div class="row" style="margin-left: 110px">
          <!-- Contact Content -->

          <div class="contact_content">
            <div class="contact_form_container">
              <div class="section_title"><h1>All Chefs</h1></div>
              <form action="#" class="contact_form" id="contact_form">
                <div class="row">
                  <div class="col-lg-6">
                    <button
                      class="btn btn-secondary dropdown-toggle  contact_input"
                      type="button"
                      id="dropdownMenuButton"
                      ngDefaultControl
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      style="text-align: left"
                    >
                      {{ selectedStatus }}
                    </button>
                    <div
                      class="dropdown-menu dropdown_input"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <a
                        (click)="changeStatus('Pending')"
                        class="dropdown-item dropdown_input"
                        >Pending</a
                      >
                      <a
                        (click)="changeStatus('Active')"
                        class="dropdown-item dropdown_input"
                        >Active</a
                      >
                    </div>
                  </div>
                  <div
                    class="col-lg-6 contact_form_col"
                    style="padding-right: 20px"
                  >
                    <i
                      class="fa fa-user-plus fa-3x addIcon"
                      (click)="addChef()"
                     
                    ></i>
                  </div>
                </div>

                <div>
                  <div
                    *ngIf="loading"
                    class="spinner-grow"
                    style="width: 10rem; height: 10rem; color: #AA122B;  margin-left: 400px"
                    role="status"
                  >
                    <span class="sr-only">Loading...</span>
                  </div>

                  <div class="table">
                    <table
                      class="table"
                      style="font-family: 'Poppins', sans-serif;"
                    >
                      <thead>
                        <tr>
                          <th scope="col">First Name</th>
                          <th scope="col">Last Name</th>
                          <th scope="col">Contact Number</th>
                          <th scope="col">Email</th>
                          <th scope="col">Status</th>
                          <th scope="col">Action</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let chef of allChefs">
                          <th scope="row">{{ chef.name }}</th>
                          <td>{{ chef.surname }}</td>
                          <td>{{ chef.contactNumber }}</td>
                          <td>{{ chef.email }}</td>
                          <td>{{ chef.status }}</td>
                          <td>
                            <button
                              type="button"
                              (click)="viewChefDetails(chef.internalId)"
                              class="contact_button"
                            >
                              More
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!-- Contact Map -->
          <div class="col-xl-6">
            <div class="contact_map_container">
              <!-- Google Map -->

              <div class="map">
                <div id="google_map" class="google_map">
                  <div class="map_container">
                    <div id="map"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
