.btn--radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  
  .btn--radius-2 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

    
  .btn--red {
    background: #ff4b5a;
  }
  
  .btn--red:hover {
    background: #eb3746;
  }

  .contact_button
  {
      width: 187px;
      height: 56px;
      background: #AA122B;
      border: none;
      outline: none;
      border-radius: 5px;
      cursor: pointer;
      color: #FFFFFF;
      margin-left: 670px;
      font-size: 16px;
      font-weight: 500;
      margin-top: 13px;
  }
  .contact_button:hover
  {
      box-shadow: 0px 23px 43px rgba(0,0,0,0.25);
  }

    
  .trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
  