
<div class="row" style="margin-top: 60px;"></div>
<div class="wrapper wrapper--w960" style="margin-top: 40px;">
    <div class="card card-5">
        <div class="card-heading">
            <img src="./assets//images/Sindi Chef logo - Transparent background.png" height="100" style="margin-left: 700px; padding-bottom: 15px">
            <h2 class="title" style="margin-left: 630px">Account Error</h2>
        </div>
        <div class="card-body">
           <h6 style="margin-left: 610px"> Could not validate account....</h6>
        </div>

        <div>
            <button class="contact_button trans_200 "  type="submit" (click)="onSubmit()" >Close</button>
        </div><br><br>
    </div>
</div>