<div class="menu">
  <div class="menu_container text-right">
    <div class="menu_close">close</div>
    <nav class="menu_nav">
      <ul>
        <li><a routerLink="/chef-home">Home</a></li>
        <li><a routerLink="#">About us</a></li>
        <li><a routerLink="listings.html">Listings</a></li>
        <li><a routerLink="blog.html">News</a></li>
        <li><a routerLink="contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="super_container">
  <!-- Header -->

  <header class="header">
    <div class="header_overlay"></div>
    <div class="header_content d-flex flex-row align-items-center justify-content-start">
      <!-- Logo -->
      <!--div class="logo"><a routerLink="#">ChefOD</a></div-->
      <div routerLink="/chef-home" style="width: 100px;height: 130px; margin-top: 20px; margin-left: -15px">
        <img src="./assets/images/Sindi Chef logo - White text.png" />
      </div>

      <!-- Header Nav -->
      <div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">
        <nav class="main_nav">
          <ul class="d-flex flex-row align-items-center justify-content-start">
            <li class="active"><a routerLink="/chef-home">Home</a></li>
            <li><a routerLink="/manage-dishes">Manage Dishes</a></li>
            <li><a routerLink="/view-profile">Manage Profile</a></li>
            <li><a routerLink="/chef-availability">Manage Availability</a></li>
            <li><a routerLink="/manage-menu">Reporting</a></li>
          </ul>
        </nav>

        <div class="log_reg">
          <ul class="d-flex flex-row align-items-center justify-content-start">
            <li>
              <button class="search_button" style="background-color: #AA122B !important; width: 100px; height: 35px;"
                (click)="logout()">
                Logout
              </button>
            </li>
          </ul>
        </div>
        <div class="hamburger">
          <i class="fa fa-bars trans_200"></i>
        </div>
      </div>
    </div>
  </header>
</div>