/*********************************
3. Header
*********************************/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.header.scrolled {
  background: #363e41 !important;
}
.header.active {
  -webkit-transform: translateX(-350px);
  -moz-transform: translateX(-350px);
  -ms-transform: translateX(-350px);
  -o-transform: translateX(-350px);
  transform: translateX(-350px);
}
.header_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #363e41 !important;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.header.active .header_overlay {
  visibility: visible;
  opacity: 1;
  background: #363e41 !important;
}
.header_content {
  width: 100%;
  height: 128px;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.header.scrolled .header_content {
  height: 90px;
}

/*********************************
5. Home
*********************************/

.home {
  height: 600px !important;
  overflow: hidden;
  background-image: "https://s3.us-east-2.amazonaws.com/www.chefsonapp.co.za/media/fwchefsonapp/IMG-20190819-WA0008.jpg";
}
.home_container {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  z-index: 1;
}
.home_content {
  padding-bottom: 117px;
  text-align: center;
  margin-top: 200px;
  margin-right: 300px;
}
.home_title {
  font-size: 48px;
  font-weight: 500;
  color: #AA122B;
  margin-left: 350px;
}
