<app-nav></app-nav>
<div class="super_container">
  <div class="super_container_inner">
    <div class="super_overlay"></div>

    <div class="home">
      <!-- Home Slider -->
      <div class="home_slider_container">
        <div
          class="background_image"
          style="background-image:url(https://jagular-media.s3.us-east-2.amazonaws.com/chefsonapp/IMG-20190819-WA0011.jpg)"
        >
          <div class="home_content">
            <div class="home_title">Contact Chefs</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact -->

    <div class="contact container_custom">
      <div class="container">
        <div class="row">
          <!-- Contact Content -->
          <div class="col-xl-6" style="margin-left: 400px">
            <div class="contact_content">
              <div class="contact_form_container">
                <div class="section_title"><h1>Message Details</h1></div>
                <br />
                <form
                  [formGroup]="contactChefForm"
                  method="POST"
                  action="#"
                  class="contact_form"
                  id="contact_form"
                >
                  <div class="row">
                    <!-- Listing Checkbox -->
                    <div class="listing_checkbox">
                      <label
                        >Email
                        <input
                          (change)="changeMethod('Email')"
                          type="checkbox"
                          data-filter=".coffee"
                        />
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="listing_checkbox">
                      <label
                        >Sms
                        <input
                          (change)="changeMethod('SMS')"
                          type="checkbox"
                          data-filter=".coffee"
                        />
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                  <div>
                    <input
                      formControlName="subject"
                      type="text"
                      class="contact_input"
                      placeholder="Subject"
                    />
                  </div>
                  <div>
                    <textarea
                      formControlName="message"
                      placeholder="Message"
                      class="contact_input contact_textarea"
                    ></textarea>
                  </div>
                  <button
                    [disabled]="!optionSelected"
                    (click)="sendMessage()"
                    class="contact_button trans_200"
                  >
                    <span *ngIf="!notBusy" class="spinner-grow text-white"
                      >!</span
                    >
                    Send message
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
