<app-chef-nav></app-chef-nav>

<div class="super_container">
    <div class="super_container_inner">
        <div class="super_overlay"></div>

        <!-- Home -->

        <div class="home">
            <!-- Home Slider -->
            <div class="home_slider_container">
                <div class="background_image"
                    style="background-image:url(https://jagular-media.s3.us-east-2.amazonaws.com/chefsonapp/WhatsApp+Image+2019-09-13+at+10.15.31.jpeg)">

                    <div class="home_content">
                        <div class="home_title">Documents Update</div>
                    </div>

                </div>
            </div>
        </div>


        <div class="contact container_custom">
            <div class="container">
                <div class="row">

                    <!-- Contact Content -->
                    <div class="col-xl-6" style="margin-left: 400px">
                        <div class="contact_content">
                            <div class="contact_form_container">



                                <div class="section_title">
                                    <h1>Supporting Documents</h1>
                                </div><br>
                                <div class="row">
                                    <div class="wrapper">
                                        <input (change)="onPoliceClearanceSelect($event.target.files)" accept=".pdf" type="file"
                                            id="pc" />
                                        <label for="pc">{{policeClearanceName}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="wrapper">
                                            <input (change)="onQualificationSelect($event.target.files)" accept=".pdf" type="file"
                                                id="qual" />
                                            <label for="qual">{{qualificationName}}</label>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="wrapper">
                                            <input (change)="onReferalSelect($event.target.files)" accept=".pdf" type="file"
                                                id="ref" />
                                            <label for="ref">{{referralName}}</label>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="wrapper">
                                            <input (change)="onIDSelect($event.target.files)" accept=".pdf" type="file"
                                                id="id" />
                                            <label for="id">{{idName}}</label>
                                        </div>
                                </div>
                               

                                <button class="contact_button trans_200" (click)="updateDocs()">
                                    <span *ngIf="isBusy" class="spinner-grow text-white">!</span>
                                    Update</button>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>

</div>

<app-footer></app-footer>