@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Contact
7. Footer


******************************/

/***********
1. Fonts
***********/

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900");

/*********************************
2. Body and some general stuff
*********************************/

* {
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #ffffff;
  color: #a5a5a5;
}
div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin-bottom: 0px;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 2.145;
  font-weight: 400;
  color: #9d9d9d;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
p a {
  display: inline;
  position: relative;
  color: inherit;
  border-bottom: solid 1px #ffa07f;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
p:last-of-type {
  margin-bottom: 0;
}
a {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
a:hover {
  color: #aa122b !important;
}
p a:active {
  position: relative;
  color: #ff6347;
}
p a:hover {
  color: #ffffff;
  background: #ffa07f;
}
p a:hover::after {
  opacity: 0.2;
}
::selection {
  background: rgba(255, 165, 75, 0.85);
  color: #ffffff;
}
p::selection {
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 0;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
}
img {
  max-width: 100%;
}
button:active {
  outline: none;
}
.form-control {
  color: #db5246;
}
section {
  display: block;
  position: relative;
  box-sizing: border-box;
}
.clear {
  clear: both;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.trans_200 {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.trans_300 {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.trans_400 {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.trans_500 {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.fill_height {
  height: 100%;
}
.super_container {
  width: 100%;
  overflow: hidden;
}
.super_container_inner {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.super_container_inner.active {
  -webkit-transform: translateX(-350px);
  -moz-transform: translateX(-350px);
  -ms-transform: translateX(-350px);
  -o-transform: translateX(-350px);
  transform: translateX(-350px);
}
.super_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  z-index: 1001;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.super_container_inner.active .super_overlay {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.prlx_parent {
  overflow: hidden;
}
.prlx {
  height: 130% !important;
}
.parallax-window {
  min-height: 400px;
  background: transparent;
}
.parallax_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.background_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.nopadding {
  padding: 0px !important;
}
.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item {
  height: 100%;
}
.slide {
  height: 100%;
}
.section_title {
  padding-top: 11px;
  margin-left: 180px;
}
.section_title h1 {
  font-size: 30px;
}
.section_title h1 span {
  color: #aa122b;
}
.section_title::after {
  display: block;
  position: absolute;
  top: 0;
  width: 34px;
  height: 2px;
  background: #aa122b;
  content: "";
}
.container_custom .container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.button {
  width: 196px;
  height: 57px;
  background: #aa122b;
  border-radius: 5px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.button a {
  display: block;
  height: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  line-height: 57px;
}
.button:hover {
  background: #ffffff;
}

.logo a {
  font-size: 24px;
  color: #ffffff;
}
.logo a span {
  color: #aa122b;
}
.logo a span:last-child {
  font-weight: 700;
}
.main_nav ul li:not(:last-of-type) {
  margin-right: 59px;
}
.main_nav ul li a {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}
.main_nav ul li.active a {
  color: #aa122b;
}
.log_reg {
  margin-left: 28px;
}
.log_reg ul li:not(:last-of-type)::after {
  display: inline-block;
  content: "/";
  margin-left: 6px;
  margin-right: 6px;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}
.log_reg ul li a {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}
.log_reg ul li:first-child a {
  color: #aa122b;
}
.add_listing {
  width: 142px;
  height: 40px;
  border: solid 2px #aa122b;
  border-radius: 5px;
  margin-left: 41px;
}
.add_listing a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 36px;
  font-size: 16px;
  color: #aa122b;
  font-weight: 300;
}
.add_listing:hover {
  border-color: #ffffff;
}
.add_listing:hover a {
  color: #ffffff !important;
}
.hamburger {
  display: none;
  margin-left: 30px;
  cursor: pointer;
}
.hamburger i {
  font-size: 20px;
  color: #ffffff;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.hamburger:hover i {
  color: #aa122b;
}

/*********************************
4. Menu
*********************************/

.menu {
  position: fixed;
  top: 0;
  right: -350px;
  background: #ffffff;
  width: 350px;
  height: 100vh;
  z-index: 101;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.menu.active {
  right: 0;
}
.menu_container {
  padding-top: 57px;
  padding-right: 30px;
  width: 100%;
  height: 100%;
}
.menu_close {
  display: inline-block;
  text-align: right;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
}
.menu_close:hover {
  color: #aa122b;
}
.menu_nav {
  margin-top: 107px;
}
.menu_nav ul li:not(:last-of-type) {
  margin-bottom: 1px;
}
.menu_nav ul li a {
  font-size: 24px;
  color: #000000;
}
.menu_link {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 30px;
}
.menu_link a {
  font-size: 14px;
  font-weight: 500;
  color: #aa122b;
}

/*********************************
5. Home
*********************************/

.home {
  height: 550px;
  overflow: hidden;
  background-image: "https://s3.us-east-2.amazonaws.com/www.chefsonapp.co.za/media/fwchefsonapp/IMG-20190819-WA0008.jpg";
}
.home_container {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  z-index: 1;
}
.home_content {
  padding-bottom: 117px;
  text-align: center;
  margin-top: 200px;
  margin-right: 300px;
}
.home_title {
  font-size: 48px;
  font-weight: 500;
  color: #AA122B;
  margin-left: 50px;
}

/*********************************
6. Contact
*********************************/

.contact {
  background: #ffffff;
  border-bottom: solid 2px #e1ecf4;
}
.contact_content {
  padding-left: 52px;
  padding-top: 94px;
  padding-bottom: 144px;
}
.contact_form {
  display: block;
  margin-top: 19px;
}
.contact_form > div {
  margin-bottom: 21px;
}
.contact_input {
  width: 100%;
  height: 56px;
  background: #e1ecf4;
  border: none;
  outline: none;
  border-radius: 5px;
  padding-left: 28px;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}
.contact_input::-webkit-input-placeholder {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #9d9d9d !important;
}
.contact_input:-moz-placeholder {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #9d9d9d !important;
}
.contact_input::-moz-placeholder {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #9d9d9d !important;
}
.contact_input:-ms-input-placeholder {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #9d9d9d !important;
}
.contact_input::input-placeholder {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #9d9d9d !important;
}
.contact_textarea {
  height: 195px;
  padding-top: 20px;
}
.contact_button {
  width: 200px;
  height: 55px;
  background: #aa122b;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 13px;
  margin-left: 350px;
}
.contact_ button:hover {
  box-shadow: 0px 23px 43px rgba(0, 0, 0, 0.25);
}
.contact_info {
  margin-top: 94px;
}
.contact_info_list {
  margin-top: 77px;
}
.contact_info_list ul li:not(:last-of-type) {
  margin-bottom: 25px;
}
.sidebar_info_icon {
  width: 23px;
  height: 23px;
  line-height: 23px;
  text-align: center;
}
.contact_info_content {
  padding-left: 12px;
  font-size: 14px;
  font-weight: 400;
  color: #9d9d9d;
}
.contact_map_container {
  height: 100%;
}
.map {
  width: 100%;
  height: 100%;
}
.google_map {
  width: 100%;
  height: 100%;
}
.map_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#map {
  width: 100%;
  height: calc(100% + 30px);
}

/*********************************
7. Footer
*********************************/

.footer {
  background: #ffffff;
}
.footer_container {
  height: 79px;
  padding-left: 52px;
  padding-right: 49px;
}
.copyright {
  font-size: 12px;
  font-weight: 400;
  color: #b0b0b0;
}
.footer_nav ul li:not(:last-of-type) {
  margin-right: 51px;
}
.footer_nav ul li a {
  font-size: 14px;
  font-weight: 400;
  color: #b0b0b0;
}
.footer_nav ul li a:hover,
.footer_nav ul li.active a {
  color: #aa122b;
}

.btn-secondary {
  background: #e1ecf4;
  border: none;
  width: 350px;
  height: 55px;
  color: rgb(148, 149, 150);
  text-align: left;
}

.dropdown-item {
  width: 350px;
  text-align: center;
}

.table-head {
  background-color: #d2d2d2;
  font-family: Montserrat;
  font-size: 15;
  font-weight: bold;
  height: 50px;
}

.table-content {
  background-color: white;
  font-family: Montserrat;
  font-size: 15;
  border-width: 1px;
  height: 50px;
  padding-bottom: 50px;
  margin-left: 50px;
  width: 200px;
}

.table-column {
  width: 200px;
  padding-left: 20px;
}

table {
  table-layout: auto;
  border-radius: 5px;
}

td,
th {
  width: calc(120% / 6);
  border-radius: 5px;
  padding: 5px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.section_title::after {
  left: 25%;
}

.add_button {
  width: 130px;
  height: 40px;
  background: #aa122b;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 13px;
  margin-left: 305px;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;

  border: 6px solid #d6d6d6;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes spinner-grow {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.spinner-grow {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  text-indent: -999em;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  animation-name: spinner-grow;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.spinner-grow-sm {
  width: 1rem;
  height: 1rem;
}



.ngx-dropzone {
    margin: 20px;
  }
  .ngx-dropzone.custom-dropzone {
    height: 150px;
    width: 700px;
    background: #fff;
    color: #2b2b2b;
    border: 1px dashed rgba(170, 170, 170, 0.87);
    border-radius: 5px;
    font-size: 20px;
  }
  .ngx-dropzone.custom-dropzone.hovered {
    border-style: solid;
  }

  [type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}
[type="file"] + label {
    background: #363e41 !important;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-top: -40px;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
}
[type="file"] + label:hover {
    background-color: #d3460d;
}
[type="file"] + label.btn-1 {
    background-color: #f79159;
    box-shadow: 0 6px #f57128;
    transition: none;
}
[type="file"] + label.btn-1:hover {
    box-shadow: 0 4px #f57128;
    top: 2px;
}
[type="file"] + label.btn-2 {
    background-color: #99c793;
    border-radius: 50px;
    overflow: hidden;
}
[type="file"] + label.btn-2::before {
    color: #fff;
    content: "\f382";
    font-family: "Font Awesome 5 Pro";
    font-size: 100%;
    height: 100%;
    right: 130%;
    line-height: 3.3;
    position: absolute;
    top: 0px;
    transition: all 0.3s;
}
[type="file"] + label.btn-2:hover {
    background-color: #497f42;
}
[type="file"] + label.btn-2:hover::before {
    right: 75%;
}
[type="file"] + label.btn-3 {
    background-color: #ee6d9e;
    border-radius: 0;
    overflow: hidden;
}
[type="file"] + label.btn-3 span {
    display: inline-block;
    height: 100%;
    transition: all 0.3s;
    width: 100%;
}
[type="file"] + label.btn-3::before {
    color: #fff;
    content: "\f382";
    font-family: "Font Awesome 5 Pro";
    font-size: 130%;
    height: 100%;
    left: 0;
    line-height: 2.6;
    position: absolute;
    top: -180%;
    transition: all 0.3s;
    width: 100%;
}
[type="file"] + label.btn-3:hover {
    background-color: #363e41;
}
[type="file"] + label.btn-3:hover span {
    transform: translateY(300%);
}
[type="file"] + label.btn-3:hover::before {
    top: 0;
}
body {
    background: url('https://benmarshall.me/wp-content/uploads/2018/08/background.gif');
    font-family: 'Lora', serif;
    font-size: 16px;
    line-height: 1.3;
    margin: 1rem 0;
    text-align: center;
}
.wrapper {
    background-color: #fff;
    border-radius: 1rem;
    margin: 0 auto;
    max-width: 500px;
    padding: 2rem;
    width: 100%;
}
.footer {
    font-size: 0.8rem;
    margin-bottom: 0;
    margin-top: 3rem;
}
h1, p {
    margin-bottom: 2rem;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
}
a {
    color: #31c1ef;
    text-decoration: none;
}


@media screen and (min-width: 900px) and (max-width: 1440px) {
  .section_title
    {
      padding-top: 11px;
      margin-left: 160px;
     }
  
     .contact_button {
      width: 187px;
      height: 56px;
      background: #AA122B;
      border: none;
      outline: none;
      border-radius: 5px;
      cursor: pointer;
      color: #FFFFFF;
      margin-left: 272px;
      font-size: 16px;
      font-weight: 500;
      margin-top: 13px;
  }
  
  .contact_form{
      display: block;
      margin-top: 19px;
      margin-left: -145px;
  }
  
  }
  
  @media screen and (min-width: 800px) and (max-width: 1280px) {
    .section_title{
      padding-top: 11px;
      margin-left: 127px;
    }

  .section_title::after {
      left: 29%;
  }
  
  .contact_button{
      width: 187px;
      height: 56px;
      background: #AA122B;
      border: none;
      outline: none;
      border-radius: 5px;
      cursor: pointer;
      color: #FFFFFF;
      margin-left: 290px;
      font-size: 16px;
      font-weight: 500;
      margin-top: 13px;
  }
  
  .contact_form{
      display: block;
      margin-top: 19px;
      margin-left: -145px;
  }
  
  }
  


