@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Contact
7. Footer


******************************/

/***********
1. Fonts
***********/

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900");

/*********************************
2. Body and some general stuff
*********************************/

* {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #ffffff;
  color: #a5a5a5;
}
div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin-bottom: 0px;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 2.145;
  font-weight: 400;
  color: #9d9d9d;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
p a {
  display: inline;
  position: relative;
  color: inherit;
  border-bottom: solid 1px #ffa07f;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
p:last-of-type {
  margin-bottom: 0;
}
a {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
a:hover {
  color: #aa122b !important;
}
p a:active {
  position: relative;
  color: #ff6347;
}
p a:hover {
  color: #ffffff;
  background: #ffa07f;
}
p a:hover::after {
  opacity: 0.2;
}
::selection {
  background: rgba(255, 165, 75, 0.85);
  color: #ffffff;
}
p::selection {
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 0;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
}
img {
  max-width: 100%;
  width: 400px;
}
button:active {
  outline: none;
}
.form-control {
  color: #db5246;
}
section {
  display: block;
  position: relative;
  box-sizing: border-box;
}
.clear {
  clear: both;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.trans_200 {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.trans_300 {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.trans_400 {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.trans_500 {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.fill_height {
  height: 100%;
}
.super_container {
  width: 100%;
  overflow: hidden;
}
.super_container_inner {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.super_container_inner.active {
  -webkit-transform: translateX(-350px);
  -moz-transform: translateX(-350px);
  -ms-transform: translateX(-350px);
  -o-transform: translateX(-350px);
  transform: translateX(-350px);
}
.super_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  z-index: 1001;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.super_container_inner.active .super_overlay {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.prlx_parent {
  overflow: hidden;
}
.prlx {
  height: 130% !important;
}
.parallax-window {
  min-height: 400px;
  background: transparent;
}
.parallax_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.background_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.nopadding {
  padding: 0px !important;
}
.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item {
  height: 100%;
}
.slide {
  height: 100%;
}
.section_title {
  padding-top: 26px;
  margin-top: -10px;
}
.section_title h1 {
  font-size: 30px;
}
.section_title h1 span {
  color: #aa122b;
}
.section_title::after {
  display: block;
  position: absolute;
  top: 0;

  width: 34px;
  height: 2px;
  background: #aa122b;
  content: "";
}
.container_custom .container {
  max-width: 75%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 190px;
}
.button {
  width: 196px;
  height: 57px;
  background: #aa122b;
  border-radius: 5px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.button a {
  display: block;
  height: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  line-height: 57px;
}
.button:hover {
  background: #ffffff;
}

/*********************************
3. Header
*********************************/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #3a1a48;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.header.scrolled {
  background: rgba(54, 15, 100, 0.9);
}
.header.active {
  -webkit-transform: translateX(-350px);
  -moz-transform: translateX(-350px);
  -ms-transform: translateX(-350px);
  -o-transform: translateX(-350px);
  transform: translateX(-350px);
}
.header_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.header.active .header_overlay {
  visibility: visible;
  opacity: 1;
}
.header_content {
  width: 100%;
  height: 128px;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.header.scrolled .header_content {
  height: 90px;
}
.logo a {
  font-size: 24px;
  color: #ffffff;
}
.logo a span {
  color: #aa122b;
}
.logo a span:last-child {
  font-weight: 700;
}
.main_nav ul li:not(:last-of-type) {
  margin-right: 59px;
}
.main_nav ul li a {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}
.main_nav ul li.active a {
  color: #aa122b;
}
.log_reg {
  margin-left: 28px;
}
.log_reg ul li:not(:last-of-type)::after {
  display: inline-block;
  content: "/";
  margin-left: 6px;
  margin-right: 6px;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}
.log_reg ul li a {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}
.log_reg ul li:first-child a {
  color: #aa122b;
}
.add_listing {
  width: 142px;
  height: 40px;
  border: solid 2px #aa122b;
  border-radius: 5px;
  margin-left: 41px;
}
.add_listing a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 36px;
  font-size: 16px;
  color: #aa122b;
  font-weight: 300;
}
.add_listing:hover {
  border-color: #ffffff;
}
.add_listing:hover a {
  color: #ffffff !important;
}
.hamburger {
  display: none;
  margin-left: 30px;
  cursor: pointer;
}
.hamburger i {
  font-size: 20px;
  color: #ffffff;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.hamburger:hover i {
  color: #aa122b;
}

/*********************************
4. Menu
*********************************/

.menu {
  position: fixed;
  top: 0;
  right: -350px;
  background: #ffffff;
  width: 350px;
  height: 100vh;
  z-index: 101;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.menu.active {
  right: 0;
}
.menu_container {
  padding-top: 57px;
  padding-right: 30px;
  width: 100%;
  height: 100%;
}
.menu_close {
  display: inline-block;
  text-align: right;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
}
.menu_close:hover {
  color: #aa122b;
}
.menu_nav {
  margin-top: 107px;
}
.menu_nav ul li:not(:last-of-type) {
  margin-bottom: 1px;
}
.menu_nav ul li a {
  font-size: 24px;
  color: #000000;
}
.menu_link {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 30px;
}
.menu_link a {
  font-size: 14px;
  font-weight: 500;
  color: #aa122b;
}

/*********************************
5. Home
*********************************/

.home {
  height: 433px;
  overflow: hidden;
  background-image: "https://s3.us-east-2.amazonaws.com/www.chefsonapp.co.za/media/fwchefsonapp/IMG-20190819-WA0008.jpg";
}
.home_container {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  z-index: 1;
}
.home_content {
  padding-bottom: 117px;
  text-align: center;
  margin-top: 200px;
  margin-right: 300px;
}
.home_title {
  font-size: 48px;
  font-weight: 500;
  color: #AA122B;
  margin-left: 350px;
}

/*********************************
6. Contact
*********************************/

.contact {
  background: #ffffff;
  border-bottom: solid 2px #e1ecf4;
}
.contact_content {
  padding-left: 52px;
  padding-top: 94px;
  padding-bottom: 144px;
}
.contact_form {
  display: block;
  margin-top: 19px;
}
.contact_form > div {
  margin-bottom: 21px;
}
.contact_input {
  width: 100%;
  height: 56px;
  background: #e1ecf4;
  border: none;
  outline: none;
  border-radius: 5px;
  padding-left: 28px;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}
.contact_input::-webkit-input-placeholder {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #9d9d9d !important;
}
.contact_input:-moz-placeholder {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #9d9d9d !important;
}
.contact_input::-moz-placeholder {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #9d9d9d !important;
}
.contact_input:-ms-input-placeholder {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #9d9d9d !important;
}
.contact_input::input-placeholder {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #9d9d9d !important;
}
.contact_textarea {
  height: 195px;
  padding-top: 20px;
}
.contact_button {
  width: 187px;
  height: 56px;
  background: #aa122b;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-top: -140px;
  margin-left: 620px;
  position: inherit;
}
.contact_button:hover {
  box-shadow: 0px 23px 43px rgba(0, 0, 0, 0.25);
}

.contact_button1 {
  width: 120px;
  height: 36px;
  background: #aa122b;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  margin-top: -10px;
}
.contact_button1:hover {
  box-shadow: 0px 23px 43px rgba(0, 0, 0, 0.25);
}

.contact_button11 {
  width: 120px;
  height: 36px;
  background: #363e41;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  margin-top: -10px;
}
.contact_button11:hover {
  box-shadow: 0px 23px 43px rgba(0, 0, 0, 0.25);
}



.contact_button2 {
  width: 250px;
  height: 50px;
  background: #363e41;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  margin-top: -10px;

}
.contact_button2:hover {
  box-shadow: 0px 23px 43px rgba(0, 0, 0, 0.25);
}

.contact_button2:disabled {
  color: rgb(150, 150, 150);
}

.contact_info {
  margin-top: 94px;
}
.contact_info_list {
  margin-top: 77px;
}
.contact_info_list ul li:not(:last-of-type) {
  margin-bottom: 25px;
}
.sidebar_info_icon {
  width: 23px;
  height: 23px;
  line-height: 23px;
  text-align: center;
}
.contact_info_content {
  padding-left: 12px;
  font-size: 14px;
  font-weight: 400;
  color: #9d9d9d;
}
.contact_map_container {
  height: 100%;
}
.map {
  width: 100%;
  height: 100%;
}
.google_map {
  width: 100%;
  height: 100%;
}
.map_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#map {
  width: 100%;
  height: calc(100% + 30px);
}

/*********************************
7. Footer
*********************************/

.footer {
  background: #ffffff;
}
.footer_container {
  height: 79px;
  padding-left: 52px;
  padding-right: 49px;
}
.copyright {
  font-size: 12px;
  font-weight: 400;
  color: #b0b0b0;
}
.footer_nav ul li:not(:last-of-type) {
  margin-right: 51px;
}
.footer_nav ul li a {
  font-size: 14px;
  font-weight: 400;
  color: #b0b0b0;
}
.footer_nav ul li a:hover,
.footer_nav ul li.active a {
  color: #aa122b;
}

.btn-secondary {
  background: #e1ecf4;
  border: none;
  width: 350px;
  height: 50px;
  color: rgb(148, 149, 150);
}

.dropdown-item {
  width: 350px;
  text-align: center;
}

.icon_box_icon1 {
  width: 206px;
  height: 226px;
}
.icon_box_icon1 img {
  position: relative;
  max-height: 100%;
  z-index: 1;
  border-radius: 48%;
}
.icon_box_icon1::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 156px;
  height: 156px;
  border-radius: 50%;
  border: transparent;
  background: #fff3d6;
  content: "";
  z-index: 0;
}
.icon_box_title1 {
  font-size: 30px;
  font-weight: 600;
  color: #000000;
  line-height: 1.2;
  margin-top: 38px;
}
.icon_box_text1 {
  width: 100%;
  min-height: 70%;
  margin-top: 17px;
}
.icon_box_num1 {
  position: absolute;
  top: -23px;
  left: 39px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #aa122b;
  line-height: 62px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}

.section_title::after {
  left: 50%;
}

.icon_box_icon2 {
  width: 158px;
  height: 308px;
}
.icon_box_icon2 img {
  position: relative;
  max-height: 100%;
  z-index: 1;
  border-radius: 48%;
}
.icon_box_icon2::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 156px;
  height: 156px;
  border-radius: 50%;
  border: transparent;
  background: transparent;
  content: "";
  z-index: 0;
}


.icon_box1 {
  height: 490px;
  background: #ffffff;
  padding-top: 61px;
  padding-bottom: 66px;
  padding-left: 40px;
  padding-right: 40px;
  border: solid 2px #ffffff;
  margin-bottom: 53px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  margin-left: -10px;
}

.sub_heading {
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
  color: #000000;
  line-height: 1.2;
  padding-bottom: 5px; 
}


ngx-dropzone {
  margin: 20px;
 
  &.custom-dropzone {
    height: 250px;
    background: #fff;
    color: rgb(43, 43, 43);
    border: 5px dashed rgba(170, 170, 170, 0.87);
    border-radius: 5px;
    font-size: 20px;
 
    &.hovered {
      border-style: solid;
    }
  }
}

.action-button {
  box-sizing: border-box;
  width: calc(100% - 16px);
  min-height: 35px;
  padding: 4px 16px;
  margin: 8px;
  border: 1px solid #555;
  border-radius: 4px;

  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
}

.action-button:hover {
  color: #fff;
  background-color: #555;
}

textarea {
  border-style: inset;
  border-width: 2px;
  border-color: rgb(165, 162, 162); 
  height: 150px;
}

ngx-dropzone {
  margin: 20px;
}
ngx-dropzone.custom-dropzone {
  height: 250px;
  background: #fff;
  color: #2b2b2b;
  border: 5px dashed rgba(170, 170, 170, 0.87);
  border-radius: 5px;
  font-size: 20px;
}
ngx-dropzone.custom-dropzone.hovered {
  border-style: solid;
}
.action-button {
  box-sizing: border-box;
  width: calc(100% - 16px);
  min-height: 35px;
  padding: 4px 16px;
  margin: 8px;
  border: 1px solid #555;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
}
.action-button:hover {
  color: #fff;
  background-color: #555;
}
textarea {
  border-style: inset;
  border-width: 2px;
  border-color: #a5a2a2;
  height: 150px;
}


pdf-viewer {
  display: block;
}


.img1 {
  object-fit: cover;
  border-radius:50%;
  width: 300px;
  height: 300px;
}

.avatar-wrapper {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 50px auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 1px 15px -5px black;
  transition: all 0.3s ease;
}
.avatar-wrapper:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.avatar-wrapper:hover .profile-pic {
  opacity: 0.5;
}
.avatar-wrapper .profile-pic {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}
.avatar-wrapper .profile-pic:after {
  font-family: FontAwesome;
  content: "\f007";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 190px;
  background: #ecf0f1;
  color: #34495e;
  text-align: center;
}
.avatar-wrapper .upload-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.avatar-wrapper .upload-button .fa-arrow-circle-up {
  position: absolute;
  font-size: 234px;
  top: -17px;
  left: 0;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
  color: #34495e;
}
.avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
  opacity: 0.9;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-preview {
  width: 350px;
  height: 350px;
  margin-top: -100px;
  margin-left: -100px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #d6d6d6;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



@media only screen and (min-width: 900px) and (max-width: 1440px) {
  .section_title
    {
      padding-top: 11px;
    
     }
  
     .contact_button {
      width: 187px;
      height: 56px;
      background: #AA122B;
      border: none;
      outline: none;
      border-radius: 5px;
      cursor: pointer;
      color: #FFFFFF;
      margin-left: 620px;
      font-size: 16px;
      font-weight: 500;
      margin-top: 13px;
  }
  
  .contact_form{
      display: block;
      margin-top: 19px;
      margin-left: -145px;
  }

  .contact_button2 {
    width: 230px;
    height: 50px;
    background: #363e41;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    margin-top: -10px;
    margin-right: 250px;
  }
  .contact_button2:hover {
    box-shadow: 0px 23px 43px rgba(0, 0, 0, 0.25);
  }
  
  }
  
  @media only screen and (min-width: 800px) and (max-width: 1280px) {
  .section_title
   {
      padding-top: 11px;
      margin-left: 16px;
   }
  
  .section_title::after {
      left: 50%;
  }
  
  .contact_button{
      width: 187px;
      height: 56px;
      background: #AA122B;
      border: none;
      outline: none;
      border-radius: 5px;
      cursor: pointer;
      color: #FFFFFF;
      margin-left: 582px;
      font-size: 16px;
      font-weight: 500;
      margin-top: 13px;
  }
  
  .contact_form{
      display: block;
      margin-top: 19px;
      margin-left: -145px;
  }

  .myImage{
    height: 220px;
    max-width: 200%;
    width: 110%;
  }

  .contact_button2{
    width: 200px;
    height: 50px;
    background: #363e41;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    margin-top: -10px;
    margin-right: 229px;
}
  
  }
  



