<app-chef-nav></app-chef-nav>

<div class="super_container">
	<div class="super_container_inner">
		<div class="super_overlay"></div>

        <!-- Home -->
        
        <div class="home">			
                <!-- Home Slider -->
                <div class="home_slider_container">
                    <div class="background_image" style="background-image:url(https://jagular-media.s3.us-east-2.amazonaws.com/chefsonapp/WhatsApp+Image+2019-09-13+at+10.15.31.jpeg)">
                    
                        <div class="home_content">
                            <div class="home_title">Personal Update</div>
                          </div>
                  
                    </div>  
                </div>
            </div>


		<div class="contact container_custom">
                <div class="container">
                    <div class="row">
    
                        <!-- Contact Content -->
                        <div class="col-xl-6" style="margin-left: 400px">
                            <div class="contact_content">
                                <div class="contact_form_container">
                                    <form [formGroup]="personalUpdateForm" method="POST" action="#" class="contact_form" id="contact_form">
                                        <div class="section_title"><h1>Personal Update</h1></div>
                                        <div class="row" style="margin-top: -50px">
                                            <div class="avatar-upload">
                                                    <div class="avatar-edit">
                                                      <input type='file' id="imageUpload" accept="image/*" (change)="onFileChanged($event)" />
                                                      <label for="imageUpload"></label>
                                                    </div>
                                                    <div class="avatar-preview">
                                                      <div id="imagePreview" [style.background-image]="getBackground(image)">
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <input style="display: none" type="file" accept="image/*" (change)="onFileChanged($event)"
                                                    #fileInput>                                                            
                                                    
                                        </div>


                                        <div class="row">
                                            <div class="col-lg-6 contact_form_col" style="padding-right: 20px">
                                                <input [(ngModel)]="firstName" formControlName="firstName" type="text" class="contact_input" placeholder="First Name" required="required">
                                            </div>
                                            <div class="col-lg-6" >
                                                <input [(ngModel)]="lastName" formControlName="lastName" type="text" class="contact_input" placeholder="Last Name" required="required">
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-lg-6 contact_form_col" style="padding-right: 20px">
                                                    <input [(ngModel)]="email" formControlName="email" type="email" class="contact_input" placeholder="Email" required="required">
                                                </div>
                                                <div class="col-lg-6" >
                                                    <input [(ngModel)]="cellNumber" formControlName="cellNumber" type="text" class="contact_input" placeholder="Phone Number" required="required">
                                                </div>
                                        </div> 
                                        
                                        <div
                                        *ngIf="loading"
                                        class="spinner-grow"
                                        style="width: 10rem; height: 10rem; color: #AA122B;  margin-left: 250px"
                                        role="status"
                                      >
                                        <span class="sr-only">Loading...</span>
                                      </div>

                                        <div class="row">
                                            <textarea [(ngModel)]="aboutChef" formControlName="aboutChef" class="contact_input contact_textarea" placeholder="About Chef" required="required"></textarea>
                                        </div>
                                        <div class="row">
                                                <div class="col-lg-6 contact_form_col" style="padding-right: 20px">
                                                        <input [(ngModel)]="idNumber" formControlName="idNumber" type="text" class="contact_input" placeholder="Id Number" required="required">
                                                </div>
                                                
                                                <div class="col-lg-6 contact_form_col">
                                                        <input [(ngModel)]="sacaNumber" formControlName="sacaNumber" type="text" class="contact_input" placeholder="SACA Number" required="required">
                                                </div>
                                        </div>                                       

                                        <div class="row">
                                            <div class="col-lg-6 contact_form_col" style="padding-right: 20px">
                                                <button class="btn btn-secondary dropdown-toggle  contact_input" type="button" id="dropdownMenuButton" 
                                            ngDefaultControl data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                style="text-align: left">
                                                 {{selectedPantsSize}}
                                               </button>
                                               <div class="dropdown-menu dropdown_input" aria-labelledby="dropdownMenuButton">
                                                 <a (click)="changePantsSize('S')"  class="dropdown-item dropdown_input" >S</a>
                                                 <a (click)="changePantsSize('M')" class="dropdown-item dropdown_input">M</a>
                                                 <a (click)="changePantsSize('L')" class="dropdown-item dropdown_input">L</a>
                                                 <a (click)="changePantsSize('XL')" class="dropdown-item dropdown_input">XL</a>
                                                 <a (click)="changePantsSize('XXL')" class="dropdown-item dropdown_input">XXL</a>
                                               </div>
                                            </div>
                                            
                                            <div class="col-lg-6">
                                                    <button class="btn btn-secondary dropdown-toggle  contact_input" type="button" id="dropdownMenuButton" 
                                                    ngDefaultControl data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                    style="text-align: left">
                                                     {{selectedShirtSize}}
                                                   </button>
                                                   <div class="dropdown-menu dropdown_input" aria-labelledby="dropdownMenuButton">
                                                     <a (click)="changeShirtSize('S')"  class="dropdown-item dropdown_input" >S</a>
                                                     <a (click)="changeShirtSize('M')" class="dropdown-item dropdown_input">M</a>
                                                     <a (click)="changeShirtSize('L')" class="dropdown-item dropdown_input">L</a>
                                                     <a (click)="changeShirtSize('XL')" class="dropdown-item dropdown_input">XL</a>
                                                     <a (click)="changeShirtSize('XXL')" class="dropdown-item dropdown_input">XXL</a>
                                                   </div>
                                            </div>  
                                    </div><br>

                                        <button class="contact_button trans_200" (click)="updatePersonal()">
                                                <span *ngIf="isBusy" class="spinner-grow text-white">!</span>
                                                Update</button>
                                    </form>
    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


	</div>
		
</div>

<app-footer></app-footer>

