<div class="super_container" scroll="no">
  <div class="super_container_inner">
    <div class="super_overlay"></div>

    <!-- Home -->

    <div class="home">
      <!-- Home Slider -->
      <div class="home_slider_container">
        <div
          class="background_image"
          style="background-image:url(https://jagular-media.s3.us-east-2.amazonaws.com/chefsonapp/IMG-20190819-WA0009.jpg)"
        ></div>
      </div>
    </div>
    <br /><br />

    <!-- Categories -->

    <div class="categories" style="height: 5000px">
      <div class="container">
        <div
          class="row loginContainer"
        >
          <div class="col">
            <div
              class="categories_container d-flex flex-md-row flex-column align-items-start justify-content-start"
              style="height: 100%"
            >
              <br />
              <div
                style="width: 150px; height: 300px; margin-left: 100px; margin-bottom: 30px; margin-top: 50px"
              >
                <img
                  style="margin-left: 120px"
                  src="./assets/images/Sindi Chef logo - Transparent background.png"
                /><br /><br />
              </div>
              <br /><br />
              <form
                style="margin-top: 160px; margin-left: 10px;"
                [formGroup]="loginForm"
                class="login100-form validate-form"
              >
                <br />
                <input
                  formControlName="username"
                  type="text"
                  class="contact_input"
                  placeholder="  email address"
                  required="required"
                />
                <br /><br /><br />
                <br />
                <input
                  formControlName="password"
                  type="password"
                  class="contact_input"
                  placeholder="   password"
                  required="required"
                />
                <button class="contact_button" type="submit" (click)="login()">
                  <span *ngIf="!notBusy" class="spinner-grow text-white"></span>
                  Login
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
